.team {
  background-color: $team-card-color;

  padding: 94px 0;
}

.team__second-title {
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-h;
}

.team__position {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__card {
  background-color: $color-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: 270px;
}

.team__info {
  padding: 33px;
}

.team__social-item + .team__social-item {
  margin-left: 10px;
}

.team__social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.team__icon-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: $color-light;
  fill: $icon-color;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: $color-hover;
    fill: $color-light;
  }
}
