@media screen and (min-width: 768px) and (max-width: 1190px) {
  .advantage {
    padding: 60px 0;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantage__card {
    width: 354px;

    &:nth-child(even) {
      margin-left: 30px;
    }
    &:nth-child(1) {
      margin-bottom: 30px;
    }
  }

  .advantage__third-title {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-h;
  }

  .advantage__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  .advantage__icon {
    width: 354px;
    height: 120px;

    margin-bottom: 30px;
    background-color: $team-card-color;
    display: inline-flex;

    & svg {
      width: 70px;
      height: 70px;

      margin: auto;
    }
  }
  .activity {
    display: none;
  }
}
