@media screen and (min-width: 768px) and (max-width: 1190px) {
  .container {
    display: block;
    width: 768px;
    padding-right: 15px;
  }

  .header .container,
  .header__mobile-menu {
    display: flex;
  }

  .header__socials,
  .header__btn-box {
    display: none;
  }

  .header {
    border: 1px solid $header-color;
  }

  .header__menu,
  .header .container {
    display: flex;
    align-items: center;
  }

  .header__nav {
    display: flex;

    margin-left: 88px;

    transition-property: color, fill;
    transition-duration: 250ms;
  }

  .header__menu .header__list:not(:first-child) {
    margin-left: 50px;
  }

  .header__address {
    margin-left: 69px;
    margin-top: 21px;

    & svg {
      margin-right: 8px;

      fill: $color-p;
    }

    & .header__list:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .header__list {
    position: relative;
  }

  .header__nav-color {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $color-h;

    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: $color-hover;
      fill: $color-hover;
    }
  }

  .header__address-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $color-p;

    &:hover,
    &:focus,
    &:active {
      color: $color-hover;
      fill: $color-hover;
    }
  }

  .header__nav-color,
  .current-page-color {
    padding: 32px 0;
  }

  .header__logo {
    padding: 24px 0;
  }

  .current-page-color::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    width: 100%;
    height: 4px;

    background: #2196f3;
    border-radius: 2px;
  }

  .header__address-link {
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
