$color-p: #757575;
$color-h: #212121;
$color-light: #ffffff;
$color-hover: #2196f3;
$color-dark: #000000;
$color-background: #2f303a;
$header-color: #ececec;
$team-card-color: #f5f4fa;
$portfolio-card-color: #eeeeee;
$icon-color: #afb1b8;
$icon-color-footer: rgba(255, 255, 255, 0.1);
$color-modal-bg: rgba(0, 0, 0, 0.2);
$main-font-family: 'Roboto', sans-serif;
$second-font-family: 'Raleway', sans-serif;
