.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    .header__mobile-menu-btn-open {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

@media screen and (max-width: 479px) {
  .header__mobile-menu-btn-open {
    background: none;
    border: none;
    margin-left: auto;

    &:hover,
    &:focus,
    &:active {
      fill: $color-hover;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    border: 1px solid $header-color;
    /* width: 100%; */
  }
  /* .container {
    display: block;
    width: 480px;

    padding-right: 15px;
  } */

  .header__mobile-menu {
    display: none;
  }

  .header__mobile-menu-btn-open {
    background: none;
    border: none;
    margin-left: auto;

    &:hover,
    &:focus,
    &:active {
      fill: $color-hover;
    }
  }

  .header__menu {
    display: flex;
  }

  .header__logo {
    font-size: 24px;
  }
}
