@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo-box {
    display: flex;
    padding: 16px;
  }

  .header__mobile-menu {
    display: block;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    background-color: $color-light;
    width: 100%;
    height: 796px;

    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-open {
      visibility: visible;
      pointer-events: initial;
      position: absolute;

      opacity: 1;
    }
  }

  .header__mobile-menu-btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 21px;
    margin-right: 30px;
    background: none;
    border: none;
    margin-left: auto;

    &:hover,
    &:focus,
    &:active {
      fill: $color-hover;
    }
  }

  .header__nav {
    margin-left: 40px;
    margin-top: 48px;
    margin-bottom: 302px;
  }

  .header__nav-color {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;

    color: $color-h;
  }

  .current-page-color {
    font-size: 40px;
  }

  .header__list:not(:last-child) {
    margin-bottom: 32px;
  }

  .icon-mail,
  .icon-phone {
    display: none;
  }

  .header__address {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
    margin-bottom: 64px;
  }

  .header__address-link.phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $color-hover;

    margin-bottom: 32px;
  }

  .header__address-link.mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $color-p;
  }

  .header__socials {
    position: relative;
    display: flex;
    margin-left: 40px;

    & a {
      color: $color-hover;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
    }
  }

  .slash:not(:last-child) {
    margin-right: 20px;
  }

  .slash:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 8px;
    margin-left: -20px;

    width: 22px;
    height: 0px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
