.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    .header__mobile-menu-btn-open {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    border: 1px solid $header-color;
  }

  .header__logo {
    font-size: 24px;
    font-weight: bold;
  }

  .header__mobile-menu-btn-open {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;

    .icon-cross {
      display: none;
    }

    &.is-open {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1000;
    }

    &.is-open .icon-cross {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }

    &:hover {
      fill: $color-hover;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    border: 1px solid $header-color;
  }

  .header__mobile-menu {
    display: none;
  }

  .header__mobile-menu-btn-open {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;

    .icon-cross {
      display: none;
    }

    &.is-open {
      position: absolute;
      top: 17px;
      right: 15px;
      z-index: 1000;
    }

    &.is-open .icon-cross {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }

    &:hover {
      fill: $color-hover;
    }
  }

  .header__menu {
    display: flex;
  }

  .header__logo {
    font-size: 24px;
    font-weight: bold;
  }
}
